@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.Navbar nav {
  background: transparent;
}
.Navbar span{
  color: white;
}
.Navbar span:hover{
  color: gray;
}
